<div
  class="group relative flex flex-col rounded-2xl border border-gray-200 bg-white p-5 shadow-md transition hover:shadow-xl hover:-translate-y-1"
>
  <!-- Nombre habitacion -->
  <h3 class="text-lg font-bold text-[#092326] mb-2">
    Habitación {{ room.number }}
  </h3>

  <!-- Nombre hotel -->
  <p class="text-sm text-gray-600 mb-4">
    Hotel:
    <span class="font-semibold text-[#092326]">{{ room.hotel.name }}</span>
  </p>

  <!-- Precio -->
  <div class="mb-6 rounded-xl bg-[#092326]/5 p-4 text-center">
    <p class="text-sm text-gray-500">Precio por noche</p>
    <p class="text-2xl font-extrabold text-[#fb9120]">Q {{ room.basePrice }}</p>
  </div>

  <div class="mt-2 flex justify-end">
    <button nz-button nzType="primary" (click)="onViewDetails()">
      Ver detalles
    </button>
  </div>
</div>
