<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title> Promociones de restaurantes </nz-page-header-title>
  <nz-page-header-subtitle>
    Gestión de promociones de restaurantes
  </nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        (click)="onCreatePromotion()"
      >
        <nz-icon nzType="plus"></nz-icon>
        Nueva promoción
      </button>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<nz-table
  #table
  [nzData]="promotions"
  [nzPageSize]="10"
  [nzScroll]="{ y: '200px' }"
>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>% Descuento</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Restaurante</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (data of table.data; track data) {
    <tr>
      <td>{{ data.name }}</td>
      <td>{{ data.discountPercent }}%</td>
      <td>{{ data.startDateStr }}</td>
      <td>{{ data.endDateStr }}</td>
      <td>{{ data.restaurantName }}</td>
      <td>
        @if (data.isActive) {
        <nz-tag nzColor="green">Activa</nz-tag>
        } @else {
        <nz-tag nzColor="red">Inactiva</nz-tag>
        }
      </td>
      <td>
        <div class="flex gap-2">
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            (click)="onEditPromotion(data)"
          >
            <nz-icon nzType="edit"></nz-icon>
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
