<nz-card class="review-card" nzSize="small">
  <div class="flex items-start gap-3">
    <div class="shrink-0 pt-1">
      <nz-rate [ngModel]="review.rating" [nzDisabled]="true"></nz-rate>
    </div>
    <div class="grow">
      <!-- encabezado con fecha y nombre del cliente -->
      <div class="flex items-center justify-between mb-1">
        <span class="text-sm text-gray-500 italic">
          {{ review.createdAt }}
        </span>

        @if (client) {
        <span class="text-sm font-semibold text-[#012e5c]">
          {{ client.firstName }} {{ client.lastName }}
        </span>
        }
      </div>

      <!-- comentario -->
      @if (review.comment) {
      <p class="m-0 text-gray-800">
        {{ review.comment }}
      </p>
      } @else {
      <p class="m-0 text-gray-500 italic">Sin comentario</p>
      }
    </div>
  </div>
</nz-card>
