<nz-steps nzType="navigation" [nzCurrent]="current">
  <nz-step nzTitle="Info del Restaurante"></nz-step>
  <nz-step nzTitle="Menú"></nz-step>
</nz-steps>

<div class="steps-content">
  @if (current === 0) {
  <!-- Paso 1: Info del restaurante -->
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="formRestaurant"
    class="w-full"
  >
    <!-- Nombre -->
    <nz-form-item>
      <nz-form-control nzErrorTip="El nombre es obligatorio (2-100 caracteres)">
        <nz-input-group nzPrefixIcon="home">
          <input
            formControlName="name"
            nz-input
            placeholder="Nombre del restaurante"
            class="rounded-lg bg-white/70 text-gray-900 placeholder-gray-500"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Dirección -->
    <nz-form-item>
      <nz-form-control
        nzErrorTip="La dirección es obligatoria (5-200 caracteres)"
      >
        <nz-input-group nzPrefixIcon="environment">
          <input
            formControlName="address"
            nz-input
            placeholder="Dirección"
            class="rounded-lg bg-white/70 text-gray-900 placeholder-gray-500"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Teléfono -->
    <nz-form-item>
      <nz-form-control
        nzErrorTip="Ingrese un número de teléfono válido (máx 30)"
      >
        <nz-input-group nzPrefixIcon="phone">
          <input
            formControlName="phoneNumber"
            nz-input
            placeholder="Teléfono"
            class="rounded-lg bg-white/70 text-gray-900 placeholder-gray-500"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Hotel (opcional) -->
    <nz-form-item>
      <nz-form-control>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Seleccione un hotel (opcional)"
          formControlName="hotelId"
        >
          @for (hotel of hotels; track $index) {
          <nz-option [nzValue]="hotel.id" [nzLabel]="hotel.name"> </nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  } @if (current === 1) {
  <!-- Paso 2: Habitaciones -->
  <div class="max-h-[200px] overflow-y-auto pr-2">
    <form nz-form [formGroup]="formMenuItem" (ngSubmit)="addMenuItem()">
      <!-- Nombre -->
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="9" nzRequired nzFor="name">
          Nombre
        </nz-form-label>
        <nz-form-control
          nzErrorTip="El nombre es obligatorio y máx 100 caracteres"
        >
          <input nz-input formControlName="name" class="w-40" id="name" />
        </nz-form-control>
      </nz-form-item>

      <!-- Descripción -->
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="9" nzRequired nzFor="description">
          Descripción
        </nz-form-label>
        <nz-form-control
          nzErrorTip="La descripción es obligatoria y máx 255 caracteres"
        >
          <textarea
            nz-input
            formControlName="description"
            rows="3"
            class="w-60"
            id="description"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Precio -->
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="9" nzRequired nzFor="price">
          Precio
        </nz-form-label>
        <nz-form-control nzErrorTip="El precio debe ser mayor a 0.01">
          <input
            type="number"
            nz-input
            formControlName="price"
            step="0.01"
            class="w-32"
            id="price"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- Costo -->
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="9" nzRequired nzFor="cost">
          Costo
        </nz-form-label>
        <nz-form-control nzErrorTip="El costo debe ser ≥ 0">
          <input
            type="number"
            nz-input
            formControlName="cost"
            step="0.01"
            class="w-32"
            id="cost"
          />
        </nz-form-control>
      </nz-form-item>

      <!-- Botón agregar -->
      <nz-form-item>
        <button nz-button nzType="primary" [disabled]="formMenuItem.invalid">
          <nz-icon nzType="plus"></nz-icon> Agregar
        </button>
      </nz-form-item>
    </form>
    <nz-divider></nz-divider>
    <nz-table
      #basicTable
      [nzData]="menu"
      [nzBordered]="true"
      [nzFrontPagination]="false"
      [nzScroll]="{ y: '240px' }"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Costo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (itemMenu of menu; track $index) {
        <tr>
          <td>{{ itemMenu.name }}</td>
          <td>{{ itemMenu.description }}</td>
          <td>{{ itemMenu.price }}</td>
          <td>{{ itemMenu.cost }}</td>
          <td>
            <button
              nz-button
              nzType="primary"
              nzDanger
              nzShape="circle"
              (click)="removeMenuItem($index)"
            >
              <nz-icon nzType="delete" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
  }
</div>

<!--Botones-->
<div *nzModalFooter>
  <div class="steps-action">
    @if (current > 0) {
    <button nz-button nzType="default" (click)="pre()"><span>Ant</span></button>
    } @if (current < 1) {
    <button nz-button nzType="default" (click)="next()">
      <span>Sig</span>
    </button>
    } @if (current === 1) {
    <button nz-button nzType="primary" (click)="onSubmit()">
      <nz-icon nzType="plus"></nz-icon> Guardar Hotel
    </button>
    }
  </div>
</div>
